*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url(images/project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    place-content: center;
    font-family: sans-serif;   
}
.box{
    width: 400px;
}
.top span{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: small;
    font-weight: bold;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
    
}
.center{
    display: flex;
    justify-content: center;
}
.center input{
    width: 90%;
    height: 50px;
    padding: 0px 0px 0px 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.356);
}
.submit input{
    width: 96%;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin: 25px 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.781);
    font-size: 20px;
    text-transform: capitalize;
}
::placeholder{
    font-weight: bold;
}
.submit input:hover{
    box-shadow: 3px 5px 10px 3px rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
}
.check{
    color: white;
    font-size: 13px;
    margin-left: 15px;
}
.right a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin-right: 5px;
}
.right a:hover{
    text-decoration: underline;
}
i{
    position: relative;
    top: 40px;
    left: 30px;
}